@import "../../library.blocks/theme.blocks/theme/_breakpoint_default/theme_breakpoint_default.css";

.commercial {
  align-self: flex-start;
  min-height: 430px;
  border-width: 3px;

  &__image {
    height: 180px;
    border: 3px solid #fff;
  }

  &__info {
    flex-direction: column;
    justify-content: center;
  }

  &__text {
    margin-bottom: var(--space-s);
  }

  &__navigation {
    display: flex;
    justify-content: center;
  }

  &__page-button {
    display: block;
    width: 8px;
    height: 8px;
    margin-right: var(--space-xs);
    background-color: #fff;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }
  }
}