.commercial {
  min-height: 430px;
  border-width: 3px;

  &__image {
    height: 180px;
    border-width: 3px;
  }

  &__info {
    flex-direction: column;
    justify-content: center;
  }

  &__text {
    margin-bottom: calc(var(--space-s) - ((var(--space-s) - 7px) / 2));
  }

  &__navigation {
    text-align: center;
  }

  &__page-button {
    display: inline-block;
    margin-right: var(--space-xs);
    width: 8px;
    height: 8px;
    background-color: #fff;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }
  }
}