@import '../../../theme.blocks/theme/_breakpoint_default/theme_breakpoint_default.css';

@media screen and (max-width: $screen-desktop) {
  .grid__fraction {
    grid-column-start: 1;
    grid-column-end: -1;
    margin-bottom: var(--gap);
  }
}