.collect {
  min-height: 380px;
  border-width: 3px;

  &__progress {
    height: 11px;
    border-bottom: 3px solid var(--color-text-primary);
  }

  &__done {
    height: 100%;
    background-color: var(--color-link);

    &_size_one-third {
      width: 33%;
    }

    &_size_half {
      width: 50%;
    }

    &_size_two-third {
      width: 66%;
    }
  }

  &__image {
    height: 160px;
    border: none;
  }

  &__title {
    margin-bottom: var(--space-s);
  }

  &__footer {
    flex-direction: column;
    align-items: flex-start;
  }
}

