.layout {
  background-color: var(--color-bg-default);
}

.section {
  background-color: var(--color-bg-default);
}

.section.theme_color_project-inverse {
  padding-top: var(--space-xxxxl);
  padding-bottom: var(--space-xxl);
}
