/*.layout {
  background-color: var(--color-bg-default);
}*/

.layout:first-child {
  background-color: green;
}

.layout:last-child {
  background-color: blue;
}

.section {
  background-color: var(--color-bg-default);
}

.section.theme_color_project-inverse {
  padding-top: var(--space-m);
  padding-bottom: var(--space-xxxxl);
}
