.layout {
  background-color: var(--color-bg-default);
}

.layout:nth-child(odd) {
  background-color: blue;
}

.layout:nth-child(even) {
  background-color: green;
}


.section {
  background-color: var(--color-bg-default);
}

.section.theme_color_project-inverse {
  padding-top: var(--space-m);
  padding-bottom: var(--space-xxxxl);
}
