@import "../../library.blocks/theme.blocks/theme/_breakpoint_default/theme_breakpoint_default.css";

.articles {

  &__pic {
    width: 170px;
    height: 120px;
    border: none;
  }

  &__title {
    margin-bottom: var(--space-xs);
  }
}

@media screen and (max-width: $screen-desktop) {

  .articles {
    grid-column-end: span 10;
  }
}