@import "../../library.blocks/theme.blocks/theme/_breakpoint_default/theme_breakpoint_default.css";

.subscription {
  min-height: 408px;

  &__title {
    margin-bottom: var(--space-xl);
  }

  &__item {
    margin-bottom: var(--space-s);
  }

  &__input {
    border: 3px solid var(--color-text-primary);
  }
}

@media screen and (max-width: $screen-desktop) {

  .subscription {
    grid-column-end: span 8;
  }
}