.subscription {
  min-height: 408px;

  &__title {
    margin-bottom: var(--space-xl);
  }

  &__advantages {
    margin-bottom: var(--space-s);
  }

  &__control:last-child {
    margin-bottom: 0;
  }

  .input {
    border: 3px solid var(--color-text-primary);
  }
}
