.theme_color_project-inverse {
/* Цвета блоков */
  --color-bg-default: #000000; /* Цвет по умолчанию */
  --color-bg-accent: #FFFFFF; /* Акцентный цвет*/
  --color-border: #FFFFFF; /* Цвет границ */

  /* Цвета текста */
  --color-text-primary: #FFFFFF; /* Цвет основного текста */
  --color-text-secondary: rgba(255, 255, 255, 0.6); /* Цвет второстепенного текста */
  --color-text-ghost: rgba(255, 255, 255, 0.3); /* Цвет дополнительного текста */
  --color-link: #0070f0; /* Цвет ссылки */
}
