.payment {
  grid-column-start: 1;
  background-color: var(--color-bg-default);
  border-width: 3px;

  &__header {
    border-width: 3px;
  }

  &__content {
    border-width: 3px;
  }

  &__control {
    flex-grow: 1;
  }

  &__item:last-child {
    margin-bottom: 0;
  }

  .input {
    border: 3px solid var(--color-border);
  }
}
