.payment {
  display: inline-block;
  background-color: var(--color-bg-default);
  border-width: 3px;

  &__header {
    border-width: 3px;
  }

  &__content {
    border-width: 3px;
  }

  &__control {
    flex-grow: 1;
  }

  .input {
    border: 3px solid var(--color-border);
  }
}
