@import "../../library.blocks/theme.blocks/theme/_breakpoint_default/theme_breakpoint_default.css";

.payment {
  background-color: var(--color-bg-default);
  border-width: 3px;

  &__header {
    border-width: 3px;
  }

  &__content {
    border-width: 3px;
  }

  &__control {
    flex-grow: 1;
  }

  &__item:last-child {
    margin-bottom: 0;
  }

  .input {
    border: 3px solid var(--color-border);
  }
}

@media screen and (max-width: $screen-desktop) {

  .payment {
    grid-column-end: span 10;

    &__item {
      flex-direction: column;
      align-items: stretch;
    }

    &__footer {
      flex-direction: column;
    }

    .text {
      margin-bottom: 10px;
    }
  }
}