@import "../../library.blocks/theme.blocks/theme/_breakpoint_default/theme_breakpoint_default.css";

.product {
  min-height: 280px;
  border-width: 3px;

  &__footer {
    display: block;
  }

  &__image {
    height: 160px;
    border: none;
  }
}

@media screen and (max-width: $screen-desktop) {

  .product {
    grid-column-end: span 6;
  }
}