.product {
  min-height: 280px;
  border-width: 3px;

  &__title {
    margin-top: var(--space-xxl);
    margin-bottom: var(--space-xxl);
  }

  &__footer {
    display: block;
  }

  &__image {
    height: 160px;
    border: var(--color-bg-default);
  }
}
