@import "../../library.blocks/theme.blocks/theme/_breakpoint_default/theme_breakpoint_default.css";

.footer {
  padding-top: var(--space-xxxl);
  padding-bottom: var(--space-xxxl);
  background-color: var(--color-bg-default);

  &__content {
    display: flex;
    justify-content: space-between;
    max-width: $screen-desktop;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: $screen-desktop) {

  .footer {
    padding-right: var(--gap);
    padding-left: var(--gap);
  }
}