@import '../../library.blocks/theme.blocks/theme/_breakpoint_default/theme_breakpoint_default.css';

.footer {
  display: flex;
  justify-content: space-between;
  max-width: $screen-desktop;
  padding-top: var(--space-xxl);
  padding-bottom: var(--space-xxl);
  padding-left: var(--gap);
  padding-right: var(--gap);
  background-color: #fff;
}