@import "../../library.blocks/theme.blocks/theme/_breakpoint_default/theme_breakpoint_default.css";

.warning {
  display: flex;
  flex-direction: column;
  min-height: 335px;

  &__button-wrapper {
    margin-top: auto;
  }

  &__placeholder {
    margin-top: var(--space-m);
    margin-bottom: var(--space-m);
  }

  &__text {
    justify-content: center;
  }
}

@media screen and (max-width: $screen-desktop) {

  .warning {
    grid-column-end: span 10;
  }
}