@import "../../library.blocks/theme.blocks/theme/_breakpoint_default/theme_breakpoint_default.css";

.cover {
  min-height: 408px;

  &__preview {
    min-height: 180px;
    margin-bottom: var(--space-m);
    background-color: transparent;
    border-width: 3px;
  }
}
