@import "../../library.blocks/theme.blocks/theme/_breakpoint_default/theme_breakpoint_default.css";

.cover {
  min-height: 408px;

  &__preview {
    height: 180px;
    margin-bottom: var(--space-m);
    background-color: transparent;
    border: 3px solid #fff;
  }
}