@import "../../library.blocks/theme.blocks/theme/_breakpoint_default/theme_breakpoint_default.css";

.event {
  min-height: 333px;

  &__preview {
    display: flex;
    justify-content: center;
    margin-bottom: var(--space-xl);
  }

  &__title {
    margin-bottom: var(--space-s);
  }

  .avatar {
    margin-right: var(--space-xs);
  }
}