.history {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-width: 3px;

  &__transaction {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-width: 3px;

    &:last-child {
      border: none;
    }
  }

  &__show {
    flex: 1;
  }

  &__hide {
    flex: 1;
  }

  &__details {
    display: flex;
  }

  &__time {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__sum {
    margin-left: auto;
  }

  .list__item:first-child {
    margin-top: 0;
  }
}
