@import "../../library.blocks/theme.blocks/theme/_breakpoint_default/theme_breakpoint_default.css";

.history {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border-width: 3px;

  &__transaction {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    border-width: 3px;

    &:last-child {
      border: none;
    }
  }

  &__show {
    position: relative;
    height: 60px;
  }

  &__destination {

  }

  &__details {
    position: absolute;
    top: 0;
    display: flex;
  }

  &__time {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__quantity {
    margin-left: auto;
  }

  .list__item:first-child {
    margin-top: 0;
  }
}

@media screen and (max-width: $screen-desktop) {

  .history {
    display: block;
  }
}